:root{
    --green: #009688;
    --blue: #8edafc;
    --gray: #d9dbd4;
    --lightgray: #eaeaea;
    --icons: #b1b1b1;
    --lightgreen: #d5f9ba;
}

body{
    height: 100vh;
    background: linear-gradient(180deg, var(--green) 15%, var(--gray) 15%);
}

.container{
    height: 830px;
}

img{
    max-height: 100%;
    border-radius: 50%;
}

.navbar i, .bell-container i{
    color: var(--icons);
    margin: 0 10px;
    font-size: 25px;
    cursor: pointer;
}

.navbar i:hover, .bell-container i:hover{
    color: gray;
}

ul{
    list-style: none;
}

/* sidebar */

#sidebar{
    width: 500px;
    border-right: 1px solid gray;
}

#sidebar .notifications{
    background-color: var(--blue);
    height: 90px;
}

    /* ? chats */

#sidebar .chats-list{
    max-height: 592px;
    overflow-y: auto;
}

    /* ? notification */

#sidebar .bell-container{
    background-color: #fff;
    height: 50px;
}

#sidebar .bell-container i{
    color: var(--blue);
}

#sidebar ul li{
    height: 100px;
    border-bottom: 1px solid var(--lightgray);
    cursor: pointer;
    text-overflow: ellipsis;
}

#sidebar ul li:hover{
    background-color: var(--lightgray);
}

/* main */

main .messages-input{
    height: 80px;
}

main .navbar:last-child *{
    color: gray;
}

    /* ? messages */

main .messages{
    background-image: url(../img/mine.jpg);
    overflow: auto;
    max-height: 740px;
    position: relative;
    padding: 20px 40px;
}

.message{
    margin: 15px 0;
}

.message p{
    max-width: 280px;
    word-wrap: break-word;
}

.message .sent-message, .received-message{
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    min-width: 300px;
    max-width: 400px;
    position: relative;
    padding-bottom: 25px;
}

.message .sent-message{
    background-color: var(--lightgreen);
    display: flex;
    align-self: flex-end;
}

.message .received-message{
    background-color: white;
    align-self: flex-start;
}

.message .message-time{
    position: absolute;
    right: 10px;
    bottom: 3px;
    font-size: 0.8rem;
    color: rgb(185, 185, 185);
}

.message .arrow-menu{
    position: absolute;
    top: 2px;
    right: 12px;
    color: gray;
    display: none;
}

.message-graphic:hover .arrow-menu{
    display: block;
}

.message .delete-menu{
    background-color: #fff;
    position: absolute;
    top: 17px;
    right: 17px;
}

.message i{
    cursor: pointer;
}

/* utils */

.navbar{
    height: 80px;
    padding: 10px;
    background-color: var(lightgray);
}

.debug{
    border: 4px dashed black;
}

.info-text{
    margin-left: 10px;
    font-weight: 500;
    font-size: 20px;
}

.text-gray{
    color: gray;
}

.smaller-text{
    font-size: 1rem;
}

.cursor-pointer{
    cursor: pointer;
}