:root{
    --green: #009688;
    --blue: #8edafc;
    --gray: #d9dbd4;
    --lightgray: #eaeaea;
    --icons: #b1b1b1;
}

body{
    height: 100vh;
    background: linear-gradient(180deg, var(--green) 15%, var(--gray) 15%);
}

.container{
    height: 830px;
}

img{
    max-height: 100%;
    border-radius: 50%;
}

.navbar i, .bell-container i{
    color: var(--icons);
    margin: 0 10px;
    font-size: 25px;
}

/* sidebar */

#sidebar{
    width: 500px;
    border-right: 1px solid gray;
}

#sidebar .notifications{
    background-color: var(--blue);
    height: 80px;
}

    /* ? chats */

#sidebar .chats-list{
    background-color: pink;
    height: 80px;
    overflow: auto;
}

    /* ? notification */

#sidebar .bell-container{
    background-color: #fff;
    height: 50px;
}

#sidebar .bell-container i{
    color: var(--blue);
}

/* main */

main .chat-input{
    height: 80px;
}

main .chat{
    background-image: url(../img/mine.jpg);
    overflow: auto;
}

main .navbar:last-child *{
    color: gray;
}


/* utils */

.navbar{
    height: 80px;
    padding: 10px;
    background-color: var(lightgray);
}

.debug{
    border: 4px dashed black;
}

.info-text{
    margin-left: 10px;
    font-weight: 500;
    font-size: 20px;
}

.text-gray{
    color: gray;
}

.smaller-text{
    font-size: 1rem;
}