<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css' integrity='sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==' crossorigin='anonymous'/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Boolzapp</title>
</head>
<body>
    <div class="vh-100 vw-100 d-flex justify-content-center align-items-center">
        <div class="container">
            <div id="root" class="h-100 bg-light d-flex">
                <!-- sidebar -->
                <div id="sidebar">
                    <!-- sidebar navbar-->
                    <header class="navbar">
                        <div class="d-flex align-items-center h-100">
                            <img :src=`img/avatar${user.avatar}.jpg` :alt="user.name">
                            <div class="info-text">{{user.name}}</div>
                        </div>
                        <div>
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>
                    <!-- notifications -->
                    <div v-if="isNotifyGranted === false" class="notifications d-flex align-items-center px-4">
                        <div class="bell-container d-flex align-items-center rounded-circle">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="">
                            <div class="info-text">
                                Ricevi notifiche di nuovi messaggi
                            </div>
                            <div @click="requestForNotification" class="cursor-pointer info-text fs-6 text-decoration-underline text-gray">
                                Attiva notifiche desktop
                            </div>
                        </div>
                    </div>
                    <!-- list of chats -->
                    <div class="chats">
                        <div class="input-group px-2 py-3">
                            <span class="input-group-text bg-white border-0">
                                <i class="fa-solid fa-magnifying-glass ms-2 text-gray"></i>
                            </span>
                            <input v-model="userFilter" type="text" class="form-control border-0" placeholder="Cerca o inizia una nuova chat">
                        </div>
                        <ul class="chats-list p-0">
                            <li v-for="(contact, i) in filteredContacts" @click="changeChat(i)">
                                <div v-if="contact.visible === true" class="d-flex py-2">
                                    <img :src=`img/avatar${contact.avatar}.jpg` :alt="user.name" class="ms-4 me-2">
                                    <div class="info-text">
                                        {{contact.name}}
                                        <div v-if="contact.messages[0].message" class="last-message smaller-text text-gray">Ultimo messaggio: {{contact.messages[contact.messages.length - 1].message}}</div>
                                        <div class="text-gray smaller-text">Ultimo accesso: {{contact.messages[contact.messages.length - 1].date}}</div>
                                    </div>
                                </div>
                            </li>
                            <li @click="isAddingNewChat = true">
                                <div class="d-flex p-5 justify-content-between align-items-center">
                                    <h4 class="m-0">Avvia una nuova chat</h4>
                                    <i class="fa-solid fa-circle-plus fa-2x text-success"></i>
                                </div>
                            </li>
                        </ul>
                        <div v-if="isAddingNewChat === true" class="new-chat border rounded p-4">
                            <div class="text-center">
                                <i @click="isAddingNewChat = false" class="fa-sharp fa-solid fa-xmark fa-2x mb-2 cursor-pointer"></i>
                            </div>
                            <h2 class="mb-3">Aggiungi una nuova chat</h2>
                            <form action="#" :disabled=true>
                                <label>Nome:</label>
                                <input v-model="newChat.name" class="form-control mb-2" type="text" required>
                                <label>Scegli il genere:</label>
                                <select v-model="newChat.avatar" class="form-select mb-4">
                                    <option value="_6">
                                        Donna
                                    </option>
                                    <option value="_1">
                                        Uomo
                                    </option>
                                </select>
                                <label>Preview:</label>
                                <div class="new-chat-preview d-flex p-3">
                                    <img class="big-square" :src=`img/avatar${newChat.avatar}.jpg` alt="avatar">
                                    <div class="info-text">
                                    {{newChat.name}}
                                    </div>
                                </div>
                                <button @click="addNewChat" class="btn btn-primary d-block">Aggiungi</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- main -->
                <main class="d-flex flex-column flex-grow-1">
                    <!-- bg if no chats -->
                    <div v-if="isChatShown === false" id="no-chat">
                    </div>
                    <!-- main navbarr -->
                    <header v-if="isChatShown === true" class="navbar">
                        <!-- chat info -->
                        <div class="d-flex align-items-center h-100">
                            <img :src=`img/avatar${currentChat.avatar}.jpg` :alt="currentChat.name">
                            <div class="info-text">
                                <div>{{currentChat.name}}</div>
                                <div class="text-gray smaller-text">Ultimo accesso: {{currentChat.messages[currentChat.messages.length - 1].date}}</div>
                            </div>
                        </div>
                        <div v-if="isSearchMessages === true" class="flex-grow-1 mx-3">
                            <input v-model="messagesFilter" type="text" class="form-control border-0" placeholder="Cerca un messaggio">
                        </div>
                        <div>
                            <!-- messages filter -->
                            <i @click="isSearchMessages = !isSearchMessages" class="fa-solid fa-magnifying-glass"></i>
                            <!-- file loader -->
                            <label class="file-label" for="upload-file">
                                <i class="fa-solid fa-paperclip"></i>
                            </label>
                            <input @change="loadImage" id="upload-file" type="file" class="d-none" ref="fileInput">
                            <!-- delete current chat -->
                            <span class="delete-chat-menu">
                                <i @click="deleteChat" class="fa-solid fa-ellipsis-vertical"></i>
                            </span>
                        </div>
                    </header>
                    <!-- messages central interface -->
                    <div v-if="isChatShown === true" class="messages flex-grow-1">
                        <!-- message info menu onclick -->
                        <div v-if="currentChat.infoVisible === true" class="message-info bg-dark text-white p-2 rounded">
                            <div class="text-center mb-3">
                                <i @click="currentChat.infoVisible = false" class="fa-solid fa-xmark cursor-pointer"></i>
                            </div>
                            <div>
                                Numero messaggio: {{infoMessage.id}}
                            </div>
                            <div>
                                Inviato da: {{infoMessage.name}}
                            </div>
                            <div>
                                Inviato il: {{infoMessage.date}}
                            </div>
                            <div>
                                Contenuto: {{infoMessage.message}}
                            </div>
                            <div>
                                Stato: {{infoMessage.status}}
                            </div>
                        </div>
                        <!-- all the messages -->
                        <div v-for="mess in filteredMessages" class="message d-flex flex-column">
                            <div class="message-graphic" :class="{'sent-message': mess.status === 'sent'},{'received-message': mess.status === 'received'}">
                                <p class="m-0">{{mess.message}}</p>
                                <div class="message-time">
                                    {{mess.date}}
                                </div>
                                <!-- user image message -->
                                <img class="user-image" v-if="mess.image" :src="mess.image">
                                <!-- info/delete message menu onclick -->
                                <div class="arrow-menu">
                                    <i @click="mess.isArrowClicked = !mess.isArrowClicked" class="fa-solid fa-chevron-down"></i>
                                    <div v-if="mess.isArrowClicked" class="delete-menu rounded border">
                                        <button @click="getMessageInfo(mess)" class="btn">Info Messaggio</button>
                                        <hr class="m-0">
                                        <button @click="deleteMessage(mess)" class="btn my-0">Elimina Messaggio</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- main down navbar with input -->
                    <div v-if="isChatShown === true" class="navbar px-4">
                        <!-- emoji menu -->
                        <div v-if="isEmojiMenu === true" class="emoji-menu bg-dark p-2 rounded">
                            <span @click="newMessage += emote" v-for="emote in emotes" class="fs-5">{{emote}}</span>
                        </div>
                        <i @click="isEmojiMenu = !isEmojiMenu" class="fa-regular fa-face-smile"></i>
                        <!-- input new message -->
                        <input @keyup.enter="addMessage" v-model.trim="newMessage" type="text" class="h-100 rounded border-0 flex-grow-1 px-3 mx-4" placeholder="Scrivi un messaggio">
                        <!-- recording feature -->
                        <div class="text-center">
                            <i :class="{'recording-indicator': listening === true}" @click="startListening" class="fa-solid fa-microphone"></i>
                            <div v-if="listening === true" class="record-text fs-6 fw-semibold">Di' qualcosa...</div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    
    <script src="js/script.js"></script>
</body>
</html>